header{
    display: flex;
    flex-direction: column;
}

#header1{
    align-self: center;
    /*border: 5px dotted red;   /*  DEBUG   */
}

#header2{
    margin: auto;
    /*border: 5px dotted red;   /*  DEBUG   */
}

body{
    width: 90%;

    /*background-color:lightgrey; /*  DEBUG   */
}

.partner{
    flex-direction: column;
}

.partnerIcon{
    max-width: 100%;
}

.btn{
    box-shadow: 2px 5px 3px black;
    /*border: 5px solid orange;   /*  DEBUG   */
}