header{
    display: flex;
    flex-direction: column;
}

#header2{
    margin: auto;
    /*border: 5px dotted red;   /*  DEBUG   */
}

body{
    
    background-color:lightgrey;
}

.partner{
    display: flex;
    flex-direction: column;
}

.btn{
    box-shadow: 2px 5px 3px black;
    /*border: 5px solid orange;   /*  DEBUG   */
}